<mat-toolbar color="light">
<span>Kunal</span>
<div class="spacer"></div>
<a mat-button routerLink="/home">HOME</a>
<a mat-button routerLink="/home">ABOUT US</a>
<a mat-button routerLink="home">GALLARY</a>
<a mat-button routerLink="home">CONTACT US</a>
<a mat-button routerLink="/login">SING IN</a>
</mat-toolbar>

      
      <!-- <p>
        <mat-toolbar>
          <span><button mat-raised-button color="primary" routerLink="/home">HOME</button></span>
        </mat-toolbar>

        <mat-toolbar>
          <button mat-raised-button color="accent" routerLink="">ABOUT US</button>
        </mat-toolbar>

        <mat-toolbar>
          <button mat-raised-button color="primary" routerLink="">GALLARY</button>
        </mat-toolbar>

        <mat-toolbar>
          <button mat-raised-button color="accent" routerLink="">CONTACT US</button>
        </mat-toolbar>

        <mat-toolbar>
          <button mat-raised-button color="primary" routerLink="/login">LOGIN</button>
        </mat-toolbar>
        
      </p>

 -->
